.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fff;
  width: 100%;
  max-width: 1440px;
  min-height: 64px;
}

.footer__link-container {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 5vh;
  margin-right: 5%;
}

.footer-signature {
  color: #b6bcbf;
  font-size: 16px;
  line-height: 138%;
  margin-right: 5vh;
  margin-left: 5%;
}

.footer-links {
  font-size: 18px;
  line-height: 133%;
  color: #1a1b22;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 41px;
  margin-right: 5vh;
}

.footer-links__icons {
  display: flex;
  flex-flow: row nowrap;
  gap: 28px;
  align-items: center;
  color: #1a1b22;
}

.footer-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 133%;
}

@media screen and (max-width: 580px) {
  .footer {
    flex-flow: column nowrap;
    min-height: none;
  }

  .footer__link-container {
    justify-content: space-between;
    margin: 0 0 12% 0%;
    width: 100%;
  }

  .footer-links {
    display: flex;
    flex-flow: column nowrap;
    gap: 23px;
    margin-left: 5%;
  }

  .footer-links__icons {
    align-items: start;
    margin: 0 5%;
  }

  .footer-signature {
    margin: 0 0 22px 0;
  }
}
