.header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 64px;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.8);
  box-sizing: border-box;
  padding: 1% 7.25%;
  color: #fff;
}

.header_logged_in {
  color: #000;
  background-color: #fff;
}

.header__title {
  text-decoration: none;
  font-family: "Roboto slab", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color:#fff
}

.header__title_logged_in {
  color: #000;
}

.header__button-logic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  padding: 0.1% 4.8%; /*6.2*/
  border: 1px solid;
  border-radius: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}

.header__auth-email {
  color: #000;
}

.header__username {
  margin-right: 16px;
}

.header__log-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 133%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: content-box;
  padding: 10px 0;
  padding-left: calc(2% + 4px);
  padding-right: calc(2% + 4px);
  color: #fff;
}

.header__log-button_logged_in {
  color: #000;
}

.phone-button {
  background-image: url("../../images/phonemenu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  fill: #fff;
}

.phone-button_black {
  fill: black;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 40px;
    gap: 1%;
    padding: 1.5% 5%;
  }
  .header__button-logic {
    padding: 0.1% 2.4%;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 16px;
  }
}








