.search-form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 73vh;
  gap: 88px;
  margin: 10vh 22vh 8vh;
}

.search-form__txtcontainer {
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}

.search-form__heading {
  font-family: "Roboto Slab 400";
  font-size: 60px;
  line-height: 107%;
  color: #ffffff;
}

.search-form__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  margin: 0;
}

.search-form__search-bar {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d1d2d6;
  border-right: none;
  backdrop-filter: blur(4px);
  border-radius: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 64px;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}

.search-form__input {
  border: none;
  border-radius: 100px;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 4%;
  flex: 70;
  caret-color: #2f71e5;
  box-shadow: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
  position: relative;
}

.search-form__input:focus {
  outline: none;
}

.search-form__input::placeholder {
  color: #b6bcbf;
}

.search-form__submit {
  color: #fff;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  height: 64px;
  box-sizing: border-box;
  flex: 30;
  cursor: pointer;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
  padding: 0;
  transition: background-color 0.2s ease;
  position: relative;
  z-index: 2;
}

.search-form__submit:hover {
  background: #347eff;
}

.search-form__submit:active {
  background: #2a65cc;
}

@media screen and (max-width: 1024px) {
  .search-form {
    margin: 7vh 12vh 6vh;
  }

  .search-form__search-bar {
    height: 56px;
    min-height: 0;
  }

  .search-form__input {
    height: 56px;
  }
  .search-form__submit {
    height: 56px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin: 5vh 10vh 3vh;
  }

  .search-form__heading {
    font-size: 36px;
    line-height: 40px;
  }

  .search-form__search-bar_stacked {
    display: flex;
    flex-flow: column nowrap;
    max-width: 90vh;
  }
}

@media screen and (max-width: 480px) {
  .search-form {
    margin: 5vh 16px 32px;
    gap: 16px;
  }

  .search-form__txtcontainer {
    margin-bottom: 120px;
  }

  .search-form__submit,
  .search-form__submit_stacked {
    flex: 56px;
  }
}
