.nav-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-left: 7.5%;
  margin-right: 3.5%;
  max-width: 100%;
}

.nav-container_logged_in {
  gap: 42%;
  margin-right: 7.5%;
}

.nav-link {
  font-family: "Inter", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 133%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  color: #fff;
  border-color: #fff;
  position: relative;
}

.nav-link_logged_in {
  color: #000;
  border-color: #000;
}


.active {
  border-bottom: 3px solid;
  margin-top: 3vh;
  padding: 0 15% 3vh 15%;
}

@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 16px;
  }
  .active::before {
    top: 196%;
  }
  .nav-container {
    gap: 32%;
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .nav-container {
    margin: 0 auto 0 16px;
  }

  .header__title_logged_in {
    color: #fff;
  }
  
  .nav-link_logged_in {
    color: #fff;
  }

  .active {
    border: none;
  }
}
