.navigation-container {
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.nav-link {
  font-family: "Inter", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 133%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  min-width: 140px;
  color: #fff;
  border-color: #fff;
  position: relative;
}

.nav-link_logged_in {
  color: #000;
  border-color: #000;
}

.nav-link:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 1px;
}

.active::before {
  top: 198%;
  border-bottom: 3px solid;
}

@media screen and (max-width: 768px) {
  .navigation-container {
    gap: 0;
    margin-left: 122px;
  }
  .nav-link {
    min-width: 130px;
    font-size: 16px;
  }
  .active::before {
    top:196%;
  }
}

@media screen and (max-width: 480px) {
  .navigation-container {
    display: none;
  }
 }
