.main {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__header-search-container {
  width: 100%;
  height: 576px;
  background-image: url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .main__header-search-container {
    height: 488px;
  }
}

@media screen and (max-width: 768px) {
  .main__header-search-container {
    height: 400px;
  }
}

@media screen and (max-width: 550px) {
  .main__header-search-container {
    height: 536px;
  }
}
