.saved-news {
  background-color: #fff;
  width: 100%;
  max-width: 1440px;
}

.saved-news__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: left;
  margin: 1% 0 4% 7%;
}

.saved-news__heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: rgba(26, 27, 34, 0.5);
  margin-top: 2vh;
  margin-bottom: 10px;
}

.saved-news__user-message {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 115%;
  color: #1a1b22;
  max-width: 40vh;
  margin: 1.5vh 0 0.5vh 0;
}

.saved-news__saved-summary {
  color: #1a1b22;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  margin: 24px 0 0 0;
}

.saved-news__summary-string {
  font-weight: bold;
}
