.popup__form-inputs {
  display: flex;
  flex-flow: column nowrap;
  gap: 27px;
  padding: 0;
  border: 0;
  width: 100%;
}

.popup__form-field-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
  margin: 0;
}

.popup__form-field-group_invisible {
  display: none;
}

.popup__form-field-group {
  display: block;
}

.popup__form-field {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  padding: 8px 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 100%;
  width: 100%;
  transition: border-color 0.3s ease;
}

.popup__form-field::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.popup__form-field:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.popup__form-field_error {
  border-bottom: 1px solid #ff0000;
}

.popup__form-error-msg {
  color: #ff0000;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
}

.popup__form-error-msg_inactive {
  visibility: hidden;
}

.popup__form-link {
  text-decoration: none;
  color: #2f71e5;
}


