.news-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  max-height: 576px;
  min-height: 400px;
  justify-content: center;
}

.news-card__header {
  display: flex;
  align-items: center;
  padding: 23px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: #000;
  height: 40px;
  justify-content: space-between;
  max-height: 40px;
  height: 40px;
}

.news-card__keyword {
  border-radius: 10px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 22px;
  margin-right: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-card__tooltip {
  border-radius: 10px;
  max-width: fit-content;
  background-color: #fff;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: auto;
  padding: 0 26px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.news-card__tooltip_hide {
  display: none;
}

.news-card__save-del {
  width: 40px;
  height: 40px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  background-color: #fff;
  background-image: url(../../images/save-disabled.svg);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  padding: 10px 13px;
  box-shadow: none;
  border: none;
  outline: none;
}

.news-card__save-del:disabled {
  background-image: url(../../images/save-disabled.svg);
}

.news-card__save-del:hover {
  background-image: url(../../images/save-ready.svg);
}

.news-card__save-del_saved {
  background-image: url(../../images/Saved-blue.svg);
}

.news-card__save-del_del {
  background-image: url(../../images/trash-black.svg);
  background-color: #e5e5e5;
}

.news-card__save-del:hover {
  background-image: url(../../images/trash-black.svg);
}

.news-card__img {
  width: 100%;
  max-height: 272px;
  flex: 0 0 auto;
  background-color: #000;
  align-self: flex-start;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.news-card__texts {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex: 1;
  justify-content: space-around;
  padding: 0 20px;
}

.news-card__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 110px;
}

.news-card__date {
  margin: 3px 0;
  color: #b6bcbf;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__title {
  margin: 12px 0 16px;
  font-size: 26px;
  line-height: 115%;
  font-weight: bold;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  color: #1a1b22;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 60px
}

.news-card__source {
  font-size: 16px;
  color: #b6bcbf;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  line-height: 125%;
  margin-top: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .news-card__texts {
    margin: 20px 7% 16px;
  }

  .news-card__tooltip {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .news-card {
    max-height: 420px;
    justify-content: unset;
  }

  .news-card__img {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    min-height: 150px;
    max-height: 224px;
  }

  .news-card__header {
    padding: 9px;
  }

  .news-card__date {
    font-size: 16px;
    margin-top: 13px;
  }

  .news-card__texts {
    padding: 1px 16px 5p;
    gap: 4px;
    max-height: 270px;
    margin: 4px 14px 16px;
    max-width: 192px;
  }

  .news-card__text {
    margin: 2px 0 0;
    max-height: 88px;
  }

  .news-card__title {
    margin: 8px 0 0;
    min-height: 77px;
  }

  .news-card__source {
    margin-top: 8px;
    white-space: nowrap;
    max-width: 192px;
  }
}

@media screen and (max-width: 550px) {
  .news-card__texts {
    margin: 16px;
  }

  .news-card__tooltip {
    display: none;
  }
}
