.news-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  max-height: 576px;
}

.news-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #000;
  height: 40px;
}

.news-card__keyword {
  border-radius: 10px;
}

.news-card__tooltip {
    border-radius: 10px;
  max-width: fit-content
}

.news-card__save-del {
  width: 40px;
  border-radius: 8px;
}

.news-card__img {
  width: 100%;
  max-width: 400px;
  min-height: 272px;
  max-height: 47.22%;
  background-color: #000;
  align-self: flex-start;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.news-card__texts {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: space-between;
  margin: 20px 24px 24px;
  height: 100vh;
}

.news-card__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}

.news-card__date {
  margin: 0;
  color: #b6bcbf;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}

.news-card__title {
  margin: 8px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto Slab 400", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
  color: #1a1b22;
}

.news-card__source {
  font-size: 14px;
  color: #777;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  font-family: "Roboto Slab 700", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  margin-top: auto; 
}

@media screen and (max-width: 1024px) {
  .news-card__texts {
    margin: 20px 0 16px;
  }
}

@media screen and (max-width: 480px) {
  .news-card__texts {
    margin: 16px;
  }
}
